
 ####  tuple

- 用小括號 () 表示

- 暫時的資料

- 可儲存多個的值

- 不可以新增,刪除元素

- 序列,串列資類(for in操作)

In [2]:
#tu1有5個元素，分別是1,2,3,4,5 自動放入中 用小括號 () 來表示

tu1 = (1,2,3,4,5)
for value in tu1:
    print(value)

1
2
3
4
5


###### 字串也是一種序列(串列資料)，所以也可以用for-in迴圈來逐一取出字串中的字元  
###### 用單引號''來表示字串

In [3]:
#字串也是一種序列(串列資料)，所以也可以用for迴圈來逐一取出字串中的字元  用單引號''來表示字串        
for letter in 'hello python!':
    print(letter)

h
e
l
l
o

p
y
t
h
o
n
!

In [11]:

type(tu1)

tuple


#### 建立 list
- list  用中括號 [] 表示

- 可儲存多的值

- 可以修改,新增,刪除元素

- 序列,串列資類(for in操作)

In [5]:
#建立list
li1 = [2, 4, 6, 8, 10]
print(li1[0])
print(li1[1])
print(li1[2])
print(li1[3])
print(li1[4])

2
4
6
8
10

In [ ]:

for element in li1:
    print(element)

# 續看  lesson6-0.ipynb   的範例

2
4
6
8
10

In [7]:

type(li1)

list

In [ ]:

li2=[]                  #建立空的list       
li2.append('a')         #將'a'加入li2   
li2.append(300)         #將300加入li2        
li2.append('PYTHON')    #將'PYTHON'加入li2      
li2.append(56.0)        #將56.0加入li2      
li2                     #顯示li2的內容

# 續看  lesson6-0.ipynb   的範例

['a', 300, 'PYTHON', 56.0]


#### 建立dict

-用中括號 {} 表示

- mapping -> (key,value)

- key不可以重複

In [ ]:

codes = {'tw':'taiwan',
         'jp':'japan'}    #建立字典codes，有兩個元素，分別是tw和jp
codes

{'tw': 'taiwan', 'jp': 'japan'}

In [ ]:

#取出值
print(codes['tw'])  #取出tw的值
print(codes['jp'])  #取出jp的值

taiwan
japan

In [ ]:
#新增元素
codes['hk'] = 'hong kong' #新增元素hk:hong kong     
codes

{'tw': 'taiwan', 'jp': 'japan', 'hk': 'hong kong'}

In [16]:

#建立空的dict

dict2 ={}  #建立空的dict
print(dict2)

dict1 = dict()  #建立空的dict
print(dict1)

{}
{}

In [ ]:

for key in codes:
    print(key,[key],codes[key]) #列出codes的所有元素

tw ['tw'] taiwan
jp ['jp'] japan
hk ['hk'] hong kong

In [ ]:

#tuple拆解法
(n, m) = (10, 20)
print(n)
m

# 續看  lesson6-0.ipynb   的範例

10

20