
 ####  tuple


- 暫時的資料

- 可儲存多的值

- 不可以新增,刪除元素

- 序列,串列資類(for in操作)

In [1]:
#tu1有5個元素，分別是1,2,3,4,5 自動放入中
for value in tu1:
    print(value)

NameError: name 'tu1' is not defined

In [10]:

for letter in 'hello python!':
    print(letter)

h
e
l
l
o

p
y
t
h
o
n

!

In [11]:

type(tu1)

tuple


#### 建立 list
- list

- 可儲存多的值

- 可以修改,新增,刪除元素

- 序列,串列資類(for in操作)

In [ ]:
#建立list
li1 = [2, 4, 6, 8, 10]
li1[0]
li1[1]
li1[2]
li1[3]
li1[4]

In [ ]:

for element in li1:
    print(element)

In [ ]:

type(li1)

In [14]:

li2=[]
li2.append('a')
li2.append(300)
li2.append('PYTHON')
li2.append(56.0)
li2

['a', 300, 'PYTHON', 56.0]


#### 建立dict

- mapping(key,value)

- key不可以重複

In [23]:

codes = {'tw':'taiwan',
         'jp':'japan'}
codes

{'tw': 'taiwan', 'jp': 'japan'}

In [24]:

#取出值
print(codes['tw'])
print(codes['jp'])

taiwan
japan

In [25]:
#新增元素
codes['hk'] = 'hong kong'
codes

{'tw': 'taiwan', 'jp': 'japan', 'hk': 'hong kong'}

In [26]:

#建立空的dict
dict1 = dict()
dict1

{}

In [31]:

for key in codes:
    print(codes[key])

taiwan
japan
hong kong

In [34]:

#tuple拆解法
(n, m) = (10, 20)
print(n)
m

10

20