
1. ####  tuple
2.

In [9]:
#tu1有5個元素，分別是1,2,3,4,5 自動放入中
for value in tu1:
    print(value)

1
3
5
7
9

In [10]:

for letter in 'hello python!':
    print(letter)

h
e
l
l
o

p
y
t
h
o
n

!

In [11]:

type(tu1)

tuple